[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb-client = "*"
mutagen = "*"
requests = "*"
boto3 = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.8"
